/**
 * Main editor layout
 *
 * @author David Neilsen <david@panmedia.co.nz>
 * @author Michael Robinson <michael@panmedia.co.nz>
 */
@import 'compass/css3/box';
@import 'compass/css3/box-sizing';
@import 'compass/css3/user-interface';

/******************************************************************************\
 * Editor toolbar
\******************************************************************************/

.raptor-wrapper {
    overflow: visible;
    z-index: 1000;
    position: fixed;
    font-size: $font-size;
    @include user-select(none);

    * {
        @include user-select(none);
    }

    .raptor-toolbar {
        overflow: visible;
        padding: ($padding / 2) 0 0 ($padding / 2);
        z-index: 1300;
    }

    .ui-dialog-titlebar {
        .raptor-element-path:first-child {
            margin-left: 5px;
        }
    }

    .ui-dialog-titlebar .raptor-element-path {
        min-width: 10px;
        min-height: 15px;
        display: inline-block;
    }
    .ui-widget-header {
        @extend %state-title;
        padding: $padding / 4
    }
}

.raptor-dock-docked-to-element {
    display: block !important;
    @include box-sizing(border-box);
}

.raptor-menu {
    z-index: 1600;
}

/******************************************************************************\
 * Inputs
\******************************************************************************/
.raptor-wrapper {
    textarea,
    input {
        padding: $padding;
    }
}

/******************************************************************************\
 * Dialogs
\******************************************************************************/
.raptor-wrapper {
    .ui-dialog-content {
        font-size: $font-size;
    }

    textarea {
        @include display-box();
        @include box-flex(1);
    }
}


html body div.ui-dialog div.ui-dialog-titlebar a.ui-dialog-titlebar-close span.ui-icon {
    margin-top: 0!important;
}

.raptor-click-button-to-edit-button {
    z-index: 1500
}
