/**
 * Toolbar layout.
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
@import 'compass/css3/box-sizing';
@import 'compass/css3/border-radius';

.raptor-layout-toolbar-group {
    float: left;
}

.raptor-toolbar-wrapper {
    @extend %state-default-reversed;
}

.raptor-layout-toolbar-group .ui-button {
    margin: 0 -1px 0 0;
    float: left;
    @include border-radius(0);
    @include box-sizing(border-box);

    &:last-child { margin-right: 0; }
}

.raptor-layout-toolbar-group .ui-button:first-child {
    @include border-left-radius($border-radius);
}

.raptor-layout-toolbar-group .ui-button:last-child {
    @include border-right-radius($border-radius);
}
