/**
 * Button UI widget styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';

.raptor-layout-toolbar-group {
    float: left;
    margin: 0 ($padding / 2) ($padding / 2) 0;
    display: inline-block;

    .ui-button {
        float: left;
        display: block;
        margin: 0 -1px 0 0;
        font-size: $font-size;
        z-index: 0;

        &:hover { z-index: 1; }

        &:last-child { margin-right: 0; }
    }
}

.raptor-ff .raptor-buttonset {
    float: none;
    vertical-align: top;
}

.raptor-wrapper {
    .raptor-buttonset {
        > .ui-button {
            @include border-radius(0);

            &:first-child {
                @include border-top-left-radius($border-radius);
                @include border-bottom-left-radius($border-radius);
            }
            &:last-child {
                @include border-top-right-radius($border-radius);
                @include border-bottom-right-radius($border-radius);
            }
        }
    }
}

.ui-button-icon-only .ui-button-text {
    display: none;
}
