/**
 * Select menu UI widget styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
@import 'compass/css3/border-radius';

.raptor-selectmenu {
    overflow: visible;
    position: relative;
}

.raptor-selectmenu-button {
    text-align: left;

    // Pervent floated buttons breaking menu position
    float: none !important;

    .ui-icon {
        position: absolute;
        right: 1px;
        top: $icon-size / 2;
    }
    .raptor-selectmenu-text {
        font-size: $font-size;
    }
}

.raptor-selectmenu-wrapper {
    position: relative;
}

.raptor-selectmenu-button .ui-button-text {
    padding: 0 25px 0 5px;
}
.raptor-selectmenu-button .ui-icon {
    background-repeat: no-repeat;
}

.raptor-selectmenu-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    display: none;
    margin-top: -$border-radius !important;
}

.raptor-selectmenu-visible .raptor-selectmenu-menu {
    display: block;
    z-index: 1;
}

.raptor-selectmenu-menu-item {
    padding: $padding / 4;
    margin: 3px;
    z-index: 1;
    text-align: left;
    font-size: $font-size;
    font-weight: normal !important;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: inherit;
}

.raptor-buttonset .raptor-selectmenu-visible {
    .raptor-selectmenu-button { @include border-bottom-radius(0); }
    .raptor-menu { @include border-top-left-radius(0) }
}

.raptor-menu-button {
    height: 37 / no-unit($icon-size) * $padding;
}

.raptor-menu {
    margin-top: -$border-width;
}
